/* ---Importing Font---- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* ---Global Reset--- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* ---Styling Body--- */
body {
  background: #caf0f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---Styling Logo--- */
.container {
  position: relative;
  background-image: url("images/bg.png");
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px #1111115c;
}

/* ---Styling Logo--- */
header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

/* ---Styling Header--- */
header .chip {
  width: 60px;
}

/* ---Styling h5--- */
h5 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

h5 .number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5 .name {
    margin-top: 20px;
}

/* ---Styling h6--- */
h6 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

/* ---Styling chip--- */
header .chip {
  width: 60px;
}

/* ---Styling card-details--- */
.container .card-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}